body{
    background-color: black;
}
h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-variant-position: initial;
    font-weight: bold;
    background-color: white;


}